@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-Book.eot');
    src: local('☺'), 
        url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-Medium.eot');
    src: local('☺'), 
        url('fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-MediumItalic.eot');
    src: local('☺'), 
        url('fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-BookItalic.eot');
    src: local('☺'), 
        url('fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// @font-face {
//     font-family: 'PostGrotesk';
//     src: url('fonts/PostGrotesk-Light.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PostGrotesk';
//     src: url('fonts/PostGrotesk-Book.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PostGrotesk';
//     src: url('fonts/PostGrotesk-BookItalic.otf') format('opentype');
//     font-weight: normal;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'PostGrotesk';
//     src: url('fonts/PostGrotesk-Medium.otf') format('opentype');
//     font-weight: bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'PostGrotesk';
//     src: url('fonts/PostGrotesk-MediumItalic.otf') format('opentype');
//     font-weight: bold;
//     font-style: italic;
// }

@mixin alt-font {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 3px;
}


h1, .h1 { font-size: 500%; font-weight: 100; line-height: 1.2em;}

h2, .h2 { font-size: 250%; font-weight: 100; line-height: 1.2em;}

h6 {
    @include alt-font;
    font-size: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font: normal normal 20px/180% Circular, PostGrotesk, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    @include small {
        font-size: 15px;
    }
}
html, body {
    *::selection {
        color: $b;
        background: $alt;
    }
}
.bigger {
    font-size: 140%;
}