@font-face {
    font-family: 'PostGrotesk';
    src: url('fonts/PostGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PostGrotesk';
    src: url('fonts/PostGrotesk-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PostGrotesk';
    src: url('fonts/PostGrotesk-BookItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PostGrotesk';
    src: url('fonts/PostGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PostGrotesk';
    src: url('fonts/PostGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}


h1, .h1 { font-size: 500%; font-weight: 100; line-height: 1.2em;}

h2, .h2 { font-size: 250%; font-weight: 100; line-height: 1.2em;}

@mixin alt-font {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 3px;
}

body {
    font: 400 normal 20px/180% PostGrotesk, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}