@mixin small {
    @media only screen and (max-width: 650px) { @content; }
}
@mixin medium {
    @media only screen and (min-width: 650px) and (max-width: 1150px) { @content; }
}
@mixin large {
    @media only screen and (min-width: 1150px) { @content; }
}

// Import UI library
@import "brand/*";
@import "layout/**";
@import "patterns/**";



input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clickable, [ui-sref], [ng-click] {
    cursor: pointer;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.spacer {
    margin: 3.5em auto;
}