@mixin small {
    @media only screen and (max-width: 800px) { @content; }
}
@mixin medium {
    @media only screen and (min-width: 800px) and (max-width: 1150px) { @content; }
}
@mixin large {
    @media only screen and (min-width: 1150px) { @content; }
}

// Import UI library
@import "brand/*";
@import "layout/**";
@import "patterns/**";



input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  color: initial;
  text-decoration: none;   
}

.clickable, [ui-sref], [ng-click], [href] {
  cursor: pointer;
  &:not(.no-link) {
      display: inline-block;
      &::after {
        height: 2px;
        background-color: $b;
        display: block;
        content: ' ';
        width: 0;
        transition: width .4s;
        margin: -5px 0 0;      
      }

      &:active::after, &:hover::after {
        // text-decoration: underline;
        width: 100%;
      }
    }
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.spacer {
    margin: 3.5em auto;
}