@mixin spanTransition {
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;

    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            transition-delay: calc(.05s * #{$i});
        }
    }
}

body {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    top: 0;
    left: 0;

    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $primary;
        z-index: -3;
        top: 0;
        left: 0;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);
    }
    &.home::before {
        transform: scale(2) rotate(-15deg) translateY(-45vh);
    }
    &.stories::before {
        transform: scale(2) rotate(10deg) translateX(50vw);   
    }
    &.story {
        &::before {
        transform: scale(1.2) rotate(3deg) translateY(-12vh);      
        }
    }


    &:not(.home) {
        h1.name {
            span {
                opacity: 0;
                transform: none !important;
                pointer-events: none;
            }
        }
        .mini span, nav a {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &.talk {
        &::before {
            transform: scale(2) rotate(-10deg) translateX(-45vw);      
        }
        .mini span, nav a {
            opacity: 0;
            transform: translateY(20px);
        }
    }
}

nav {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    z-index: 5;

    h2.mini {
        margin: 0;
    }
    h2 span, a {
        opacity: 0;
        transform: translateY(20px);
        // display: inline-block;

        @include spanTransition;
    }

    h3.scrollable {
        font-weight: normal;
    }

    @include small {
        display: none;
    }

}

h1.name {
    transition-property: all;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);

    font-size: 10vw;
    font-weight: normal;
    letter-spacing: 3vw;
    
    width: calc(100vw - 450px);
    position: fixed;
    left: 450px;
    top: 9vw;
    height: 1em;
    box-sizing: border-box;
    pointer-events: auto;
    // font-weight: bold;

    &:first-of-type {
        left: 650px;
    }
    &:last-of-type {
        top: 50vh;
    }
    @include medium {
        // width: 55vw;
        // right: 1vw;
        // letter-spacing: 60px;
    }
    @include small {
        display: none;
    }

    span {
        @include spanTransition;
    }
}
h2.name {
    display: none;
    @include small {
        display: block;
        z-index: 10;
        position: fixed;
        width: 100%;
        top: 20px;
        text-align: center;
        letter-spacing: 15px;
        font-weight: normal;
        height: 10vh;
        font-size: 1em;
        span {
            @include spanTransition;
        }
    }
}
.home section {
    width: 300px;
    padding-bottom: 100px;
    position: fixed;
    top: 100px;
    left: 50px;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100vh - 100px);

    @include small {
        width: 100%;
        padding-top: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: static;
        br:nth-of-type(odd) {
            display: none;
            // line-height: 5px;
        }
    }

    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }

    a {
        font-weight: bold;
    }
}
ui-view.main {
    margin-left: 40vw;
    position: relative;
    margin-top: 30vh;
    display: block;
    box-sizing: border-box;
    opacity: 0;
    padding-top: 20px;
    transition: opacity .6s;
    transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);

    ui-view > * {
        transform: translateY(20px);
        transition: transform .6s !important;
        transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);
    }

    &.show {
        opacity: 1;
        padding-top: 0;

        @include small {
            padding-top: 55px;
        }

        ui-view > * {
            transform: translateY(0px);
        }
    }

    @include small {
        margin: 0;
        padding: 32px;
        padding-top: 75px;
        width: 100%;
        overflow-x: hidden;
    }
}

.about {
    h1.heart {
        text-align: center;
        letter-spacing: 20px;
        position: absolute;
        line-height: 2em;
        width: 100%;
        max-width: 750px;
        top: -27.5vh;
        height: 70px;
        display: block;
        font-size: 3em;
        font-weight: normal;
        margin-bottom: 340px;
        margin-right: 100px;

        @include medium {
            font-size: 1.8em;
            line-height: 2.2em;
            margin-bottom: 110px;
        }

        @media only screen and (max-height: 660px) { 
            display: none;
        }

        span {
            @include spanTransition;
        }
    }
    section {
        overflow-y: visible;
        margin-right: 100px;
        margin-left: auto;
        min-width: 400px;
        max-width: 750px;
        position: relative;
        @media only screen and (max-height: 660px) { 
            font-size: .9em;
            line-height: 180%;
        }

        ul {
            padding: 0;
            li {
                list-style-type: none;
            }
        }

        a {
            font-weight: bold;
        }
    }
    img.face {
        position: fixed;
        height: 100vh;
        bottom: 0;
        left: 0;
        opacity: .65;
        z-index: -1;
    }
    .back {
        font-weight: normal;
        display: none;
        @include small {
            display: inline-block;
        }
    }

    .quotes {
        position: relative;
        height: 20em;
        box-sizing: border-box;
        li {
            padding: 50px 10%;
            transition: all .8s ease;
            opacity: 0;
            position: absolute;
            transform: translateY(20px) scale(.9);
            width: 100%;
            box-sizing: border-box;
            
            &.show{
                opacity: 1;
                transform: translateY(0px);
            }
            .testimonial {
                padding: 0;
                font-size: 1.2em;
            }
        }
        .see {
            width: 100%;
            text-align: center;
            top: 25%;
            font-size: 1.5em;
            pointer-events: none;  
            transform: translateY(10px) scale(1);
            transition-duration: .3s;
        }
        &:hover {
            li.show {
                opacity: .2;
            }
            .see {
                opacity: 1;
                transform: translatey(0px);
            }
        }

        @include small {
            height: 23em;
            text-align: left;
            display: block;
            li {
                padding: 50px 0;
            }
        }
    }


    p.social {
        display: inline-block;
        width: 48%;
        opacity: .5;
        transition: opacity 1s ease;

        &:hover {
            opacity: 1;
        }
    }
    hr {
        border: 1px solid $b;
    }
    @include small {
        img.face {
            opacity: .4;
        }
        h1.heart {
            // display: none;
            font-size: 1.8em;
            line-height: 2.2em;
            margin-bottom: 110px;
        }
        section {
            text-align: center;
            min-width: 0;
            width: 100%;
            padding-top: 60px;
        }
    }
}
.testimonials {
    li {
        margin-bottom: 100px;
        position: relative;
        counter-increment: step-counter;
        transition: transform .5s ease, opacity .5s ease;

        h3 {
            padding-right: 10%;
            font-weight: normal;
        }
        h3, h6 {
            transition: transform .5s ease, opacity .5s ease;
        }
        a.read-more {
            position: absolute;
            top: 50%;
            width: 75%;
            left: 100%;
            transform: translateY(-50%);
            transition: transform .5s ease;
        }
        &::before {
            content: counter(step-counter);
            position: absolute;
            font-size: 2.3em;
            top: 12px;
            left: -250px;
            font-weight: normal;
            transition: transform .5s ease, opacity .5s ease;
        }

        &:hover {
            transform: translateX(-10%);
            .testimonial, .source, &::before {
                opacity: .1;
            }
            .read-more {
                transform: translateY(-50%) translateX(-100%);
            }
        }
    }
}