@mixin spanTransition {
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;

    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            transition-delay: calc(.05s * #{$i});
        }
    }
}

body {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    top: 0;
    left: 0;

    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $primary;
        z-index: -1;
        top: 0;
        left: 0;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);
    }
    &.home::before {
        transform: scale(2) rotate(-15deg) translateY(-45vh);
    }
    &.stories::before {
        transform: scale(2) rotate(10deg) translateX(50vw);   
    }
    &.story::before {
        transform: scale(1.2) rotate(6deg) translateY(-10vh);      
    }


    &:not(.home) {
        h1.name {
            span {
                opacity: 0;
                transform: none !important;
                pointer-events: none;
            }
        }
        .mini span, nav a {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

nav {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    z-index: 5;

    h2.mini {
        margin: 0;
    }
    h2 span, a {
        opacity: 0;
        transform: translateY(20px);
        transform: translateY(20px);
        // display: inline-block;

        @include spanTransition;
    }

    @include small {
        display: none;
    }

}

h1.name {
    transition-property: all;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);
    font-size: 10vw;
    font-weight: $book;
    letter-spacing: 80px;
    width: calc(92vw - 350px);
    position: relative;
    left: 8vw;
    top: 9vw;
    box-sizing: border-box;
    pointer-events: auto;
    // font-weight: 400;

    &:first-of-type {
        left: 18vw;
    }
    &:last-of-type {
        top: 50vh;
    }
    @include medium {
        width: 55vw;
        left: 1vw;
        letter-spacing: 60px;
    }
    @include small {
        display: none;
    }

    span {
        @include spanTransition;
    }
}
h2.name {
    display: none;
    @include small {
        display: block;
        z-index: 10;
        position: fixed;
        width: 100%;
        top: 20px;
        text-align: center;
        letter-spacing: 15px;
        font-weight: $book;
        height: 10vh;
        font-size: 1em;
        span {
            @include spanTransition;
        }
    }
}

.home section {
    width: 300px;
    padding-right: 30px;
    position: fixed;
    bottom: 100px;
    right: 20px;

    @include small {
        width: 200px;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }

    a {
        font-weight: bold;
    }
}
ui-view.main {
    margin-left: 40vw;
    position: relative;
    margin-top: 30vh;
    display: block;
    box-sizing: border-box;
    opacity: 0;
    padding-top: 20px;
    transition: opacity .6s;
    transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);

    & > * {
        transform: translateY(20px);
        transition: transform .6s;
        transition-timing-function: cubic-bezier(0.000, 1.085, 0.795, 1.000);
    }

    &.show {
        opacity: 1;
        padding-top: 0;

        @include small {
            padding-top: 55px;
        }

        & > * {
            transform: translateY(0px);
        }
    }

    @include small {
        margin: 0;
        padding: 32px;
        padding-top: 75px;
        width: 100%;
        overflow-x: hidden;
    }
}